html
	head
		title Members;
		link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
		link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'  rel='stylesheet' type='text/css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js')
		script(src='/javascripts/quill.js')
		script(src='/javascripts/main.js')
	body
		.header.container-fluid
			div.form-wrap.row
				.col-md-9
					h2 Member Board SHOW
				.col-md-3
					h2 Add new
					if error
						.alert.alert-danger
							span=error
					form(action='' method='post' role='form').form
						span Name
						input(name='name' type='text').form-control
						br
						span Gender
						select(name='gender').form-control
							option(value='secret') Secret
							option(value='male') Male
							option(value='female') Female
						br
						span Age
						input(type='number' name='age').form-control
						br
						span Tel
						input(type='tel' name='tel').form-control
						br
						input(type='submit').btn.btn-default
		.container
			.row
				each val in members.length ? members:['no member']
					.col-md-3
						h2=val.name
						h3=val.gender
						h3=val.age
						h3=val.tel
