extends layout

block content
		.header.container-fluid
			nav.navbar
				.container-fluid
					div
						ul.nav.navbar-nav
							li
								a(href='/') HomePage
							li
								a(href='/clashOfClans') Clash of Clan
			div.form-wrap.row
				.col-md-9
					h2 Member Board SHOW
				.col-md-3
					h2 Add new
					if error
						.alert.alert-danger
							span=error
					form(action='' method='post' role='form').form
						span Name
						input(name='name' type='text').form-control
						br
						span Gender
						select(name='gender').form-control
							option(value='secret') Secret
							option(value='male') Male
							option(value='female') Female
						br
						span Age
						input(type='number' name='age').form-control
						br
						span Tel
						input(type='tel' name='tel').form-control
						br
						input(type='submit').btn.btn-default
		.container
			.row
				each val in members.length ? members:['no member']
					.col-md-3
						h2=val.name
						h3.text-capitalize=val.gender
						h3=val.age
						h3=val.tel
